body {
    background-color:#8f9779;
    background-image: linear-gradient(to bottom, #FFFFFF, #8f9779);
	font-family: Georgia, Times New Roman, serif;
	margin: 20px;
	}

header {
	background-color: #8f9779;
	color: #FFFFFF;
	background-image: url("Good.gif");
	border-right: 5px solid #8f9779;
	background-position: right;
	background-repeat: no-repeat;
	background-size: auto 90%;
	line-height: 400%;
	text-indent: 1em; 
	padding: 5px; 
	}

img {
	border: 30px solid #8f9779;
	width:20%;
	height:auto;
}

/* NAVIGATION INFORMATION */
nav{
	font-weight: bold;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 5px;
	border-color: #8f9779;
	text-indent: 1em; 
	height: 5%;

	}

.topnav {
	background-color: #FFFFFF;
	overflow: hidden;
	}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #000000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	width: 100px;
	}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: black;
	color: white;
	}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #8f9779;
	color: white;
	border-style: solid;
	border-width: 0 0 1px 2px;
	border-color: #8f9779;
	}

/* END NAVIGATION INFORMATION */

h1 {font-family: Georgia, Times New Roman, serif;
	}

h2 {color: #738678;
	font-family: Georgia, Times New Roman, serif;

	}

h3 {font-family: Georgia, Times New Roman, serif;
	color: #000000
	text-indent: 1em; 
	}

ul {	list-style-image: url('marker.gif');
	}

dt {	color: #000033;
	padding: 5px; 
	}

footer {line-height:75%;
		font-style:italic;
		text-align:center;
		font-family:Georgia,Times,serif
		color:black;
        }

.resort {color:black;
         font-weight:bold;

        }
		
#wrapper{margin-left:auto;
	margin-right:auto;
	padding: 0 5px 20px 5px;
	width: 90%;
	background-color: #FFFFFF;
	min-width:960px;
	max-width:2048px;
	box-shadow: 3px 3px 3px #333333;
	background-image: url("bwVeggies.png");
	background-repeat: no-repeat;
	background-size: cover;
	}


			